<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router"></script>

</head>

<body>
    <div id="app">

        <table border=1>
            <tr>

                <td>ID</td>
                <td>PASSWORD</td>
                <td>부서</td>
                <td>수정</td>
                <td>삭제</td>

            </tr>
            <tr v-for="users in datas" :key="users.ID">
            <td><input type="text" v-model="datas[0].USERID"></td>
            <td><input type="text" v-model:value="users.PASSWORD"></td>
            <td><input type="text" v-model:value="users.GROUP"></td>
                <td><button @click="update(users.ID)">수정</button></td>
                <td><button @click="userdel(users.ID)">삭제</button></td>
                
            </tr>
            </table>
            <button @click="back">뒤로</button>

    <script type="text/javascript">

         var router = new VueRouter({
                mode: 'history',
                routes: []
            });

             var vm =  new Vue({
                  router,
                    el: '#app',
                    data: {

                        id:"",
                        datas:[{}],
                        users:{
                            USERID : '',
                            PASSWORD: '',
                            GROUP: ''
                        }

                    },
                    

            mounted: function () {

                id = this.$route.query.id
            },


            methods:{

            back: function (){

                window.location.href = 'http://localhost:10081/admin.html';
                
            },


          update: function (id) {

            axios.post('http://localhost:10081/api/Userupdate/' + id, {

                USERID: this.datas[0].USERID,
                PASSWORD: this.datas[0].PASSWORD,
                GROUP: this.datas[0].GROUP
                
            })
                .then(function (response) {
                    console.log(response.data);
                    alert('수정 성공');
                    window.location.href = 'http://localhost:10081/admin.html'
                })
        },
                userdel: function (id) {
            axios.delete('http://localhost:10081/api/userdel/' + id, {


               })
            .then(function (response) {
                alert(id + '번 삭제 완료');
                window.location.href = 'http://localhost:10081/admin.html';

            })
    }

                 }
                 
                }).$mount('#app')
            
      axios.get('http://localhost:10081/api/user/'+ id )

            .then(function (response) {

                console.log(response.data)
                vm.datas = response.data
                console.log(vm.datas);

            }); 

            
        </script>

</body>

</html>