<!doctype html>

<head>
    <link rel="stylesheet" href="bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
</head>
<title></title>

<body>
<div id="app">


<table border=1>
    <tr>
        <td><input type="checkbox" name="checkbox" id="checkbox" v-model="selectAll" @click="checkAll" ></td>
        <td>id</td>
        <td>title</td>
        <td>author</td>
        <td>category</td>
        <td>price</td>
        <td>created</td>
        <td>수정</td>
        <td>삭제</td>
    </tr>

    <span>체크한 아이디: {{ userIds }}</span>

    <tr v-for="ab in datas" v-bind:key="ab.id" @click="getDataone(ab.id)">
        
        <td onclick="event.cancelBubble=true"><input type="checkbox" name="checkbox" v-model="userIds" :value="ab.id" > </td>
        
        <td>{{ab.id}}</td>
        <td>{{ab.title}}</td>
        <td>{{ab.author}}</td>
        <td>{{ab.category}}</td>
        <td>{{ab.price}}</td>
        <td>{{ab.created}}</td>
        <td onclick="event.cancelBubble=true"><button @click="insert(ab.id)">update</button></td>
        <td onclick="event.cancelBubble=true"><button @click="dele(ab.id)">delete</button></td>
        

    </tr>

</div>
    </table>

    
    <div style="float:left">

        <button @click="getData">정보 생성</button>

        <button @click="selectdel">선택 삭제</button>
    <modal title='그래프 표시' >
    
    
    </modal>

<!-- <script type="text/x-template" id="modal-template">
  <transition name="modal">
  <div class="modal-mask" >
    <div class="modal-wrapper">
      <div class="modal-container">

        <div class="modal-header">
          <button class="modal-default-button" @click="$emit('close')">
              X
            </button>
          <slot name="header">

          </slot>
            <select name="chartType" id="chartType" @change="updateChartType">
              <option value="line">Line</option>
              <option value="bar">Bar</option>
              <option value="log">log</option>

          </select>
        </div>
        <div class="modal-body">
          <slot name="body">
          </slot>
          <canvas id="canvas"></canvas>
        </div>
        

            <button class="modal-random-button" @click="random">
              랜덤 데이터
            </button>


          </slot>
        </div>
        </div>
      </div>
    </div>
  </transition>
</script> -->
<!--         <button id="show-modal" @click="showModal= true">그래프 표시</button>
        
        <modal v-if="showModal" @close="showModal= false">
        
            <h3 slot="header">그래프타입</h3> -->
        <!-- </modal> -->
    </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-style@0.5.0"></script>
    
    <script>
    Vue.component('modal', {
            data: function () {
                return {
                    isModalActive: false

                }
            },

      props: ['buttonText', 'title'],

      template: `
  <div class='my-modal'  style="float:right">
    <a class="button is-primary" @click='isModalActive=true'>{{ title }}</a>
    <div class="modal" :class="{ 'is-active': isModalActive }">
      <div class="modal-background">

</div>
      <div class="modal-content has-background-white">
      그래프 타입
    <select name="chartType" id="chartType" @change="updateChartType">
    <option value="line">Line</option>
    <option value="bar">Bar</option>
    <option value="log">log</option>

    </select>
    <div class="modal-card">
    <canvas id="canvas"></canvas>
      </div>
        <slot></slot>
        <button class="modal-random-button" @click="random">
              RANDOM
            </button>
      </div>
      <button class="modal-close" @click='isModalActive=false'></button>
      
    </div>  
  </div>
  `,
    mounted: () => {

    ctx = document.getElementById('canvas').getContext('2d');

    myChart = new Chart(ctx, {

    type: 'line',
    data: myData

            });
            },
    methods: {

    random: function () {

    console.log(myData.datasets[2].label)
    var lg = myData.datasets[2].label


    myChart.data.datasets.forEach(function (dataset, i) {
        let newData = Data.map(x => Math.floor(Math.random() * 50));
        let newmoreData = moreData.map(x => Math.floor(Math.random() * 40));


        if (dataset.label == "log data") {
            dataset.data = dataset.data.map(function () {
                return {
                    x: (Math.random() > 0.5 ? 1.0 : -1.0) * Math.random() * 100,
                    y: (Math.random() > 0.5 ? 1.0 : -1.0) * Math.random() * 100,

                };

            });
        }
        else {

            myData.datasets[i].data = myData.datasets[i].data.map(x => Math.floor(Math.random() * 80))

        }


    });


            window.myChart.update();

        },
        updateChartType: function () {

            var target = document.getElementById("chartType");

            var loge = target.options[target.selectedIndex].value


            if (loge != "log") {
                myChart.destroy();
                myChart = new Chart(ctx, {

                    type: document.getElementById("chartType").value,
                    data: myData,

                });
            } else {

                myChart.destroy();
                myChart = new Chart(ctx, {

                    type: 'line',
                    data: myData,
                    options: {
                        scales: {
                            xAxes: [{

                                type: 'logarithmic'
                            }],
                            yAxes: [{

                                ticks: {
                                    beginAtZero: true
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'y축',

                                    fontSize: 20,



                                }



                            }]
                        }
                    }




                });

            }


        }
    }
})



    var randomScalingFactor = function () {
            return Math.ceil(Math.random() * 10.0) * Math.pow(10, Math.ceil(Math.random() * 5));
          };
        Chart.defaults.global.defaultFontFamily = "monospace";

        let Data = [1, 10, 5, 2, 20, 30, 45];
          let moreData = [20, 30, 15, 12, 21, 30, 40];
          let log = [
            { x: 1, y: 1 },
            { x: 2, y: 2 },
            { x: 3, y: 3 },
            { x: 4, y: 4 },
            { x: 5, y: 5 },
            { x: 6, y: 6 },
            { x: 7, y: 70 },

          ]

      var myChart;
      var ctx;
      var myData = {

          labels: ["a", "b", "c", "d", "e", "f", "g"],
        datasets: [
          {
            label: "Data",
            fill: false,
            backgroundColor: 'rgb(190, 99, 255, 0.25)',
            borderColor: 'rgb(190, 99, 255)',
            data: Data,
          },
          {
            label: "More data",
            fill: false,
            backgroundColor: 'rgba(255, 99, 132, 0.25)',
            borderColor: 'rgb(255, 99, 132)',
            data: moreData,
          },
          {
            label: "log data",
            fill: false,
            backgroundColor: 'rgba(0, 0 ,0, 0.25)',
            borderColor: 'rgb(0, 0, 0)',
            data: log,
          }]
              }

        var getValue = localStorage.getItem('token');
            console.log(getValue); 

            if(!getValue){
                 window.location.href = 'http://localhost:10081/';
            }


        var vm = new Vue({
            el: '#app',
            data: {
                showModal: false,
                datas: [{}],
                token : getValue,
                message: 'Vue',
                ab : false,
                userIds: [],                
                selectAll: false
            },
            methods: {
                



            getData: function () {
                    window.location.href = 'http://localhost:10081/create.html'
                },

                getDataone: function (id) {
                    axios.get('http://localhost:10081/api/books/'+id)
                        .then(function (response) {
                            console.log(response.data);
                            window.location.href = 'http://localhost:10081/read.html?id='+ id;
                        })
                },
                add: function () {
                    axios.post('http://localhost:10081/api/books/add', {

                        title: '1224qweqweqwe421',
                        author: 'dnerkekekek2',
                        category: 'google',
                        price: '123222'
                    })
                        .then(function (response) {
                            console.log(response.data);
                        })
                },
                update: function (id) {
                    axios.put('http://localhost:10081/api/books/update/' + id, {

                        title: '1224qweqweqwe421',
                        author: 'dnerk23ekekek2e',
                        category: 'google',
                        price: '123222'
                    })
                        .then(function (response) {
                            console.log(response.data);
                        })
                },
              
                
                selectdel: function () {
                    axios.post('http://localhost:10081/api/books/selectdel', {
                            userIds: vm.userIds
                             
                    })
                        .then(function (response) {
                        /* console.log(this.vm.userIds)
                           console.log(vm.userIds) */
                           var len = Object.keys(vm.userIds).length 
                           if(len >0){
                               alert(response.data)
                               window.location.href = 'http://localhost:10081/test.html'
                           }
                           else{
                               alert('삭제를 선택해주세요.')
                           }
                           
                        })
                },
                
             gettoken: function() {
                 axios.post('http://localhost:10081/api/books/gettoken', {
                    
                        token: vm.token
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                



            },
             checkAll: function(){
  			this.userIds = [];
                 if (!this.selectAll) {
                     for (let i in this.datas) {
                         this.userIds.push(this.datas[i].id);
                     }
                 }
               
    },
         insert: function (id) {
            window.location.href = 'http://localhost:10081/update.html?id=' +id

            },
         dele: function (id) {
             axios.delete('http://localhost:10081/api/books/delete/' + id, {

             })
                 .then(function (response) {
                     alert(id +  '번 삭제 완료');
                    window.location.href = 'http://localhost:10081/test.html';

                 })
               }



        }

        }).$mount('#app');
        axios.get('http://localhost:10081/api/books')
            .then(function (response) {

                console.log(response.data)
                vm.datas = response.data
                console.log(vm.datas);

            });


/*         axios.post('http://localhost:10081/api/books/add', {

            title: '1224qweqweqwe421',
            author: 'dnerkekekek2ek하하하',
            category: 'google',
            price: '123222'
        })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
        axios.put('http://localhost:10081/api/books/update/10', {

            title: '1224qweqwe22qwe421',
            author: 'dnerkekekek2222ek하',
            category: 'goog22le',
            price: '12322222'
        })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
        axios.delete('http://localhost:10081/api/books/delete/118', {

        })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
    axios.post('http://localhost:10081/api/books/gettoken', {
        
        
            token : vm.token
       

    })
        .then(function (response) {
            
          
            console.log(response.data);
            console.log(vm.token);
        })
        .catch(function (error) {
            console.log(error);
        });
         */
        

                    

    </script>

</body>