<!doctype html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" href="bulma.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</head>

<body>

    <div id="app">

        <table border=1>
            <tr>

                <td>id</td>
                <td>title</td>
                <td>author</td>
                <td>category</td>
                <td>price</td>
                <td>created</td>
                <td>수정</td>
            </tr>

            <tr v-for="users in datas" :key="users.id">

                <td>{{users.id}}</td>
                <td><input type="text" v-model="datas[0].title"></td>
                <td><input type="text" v-model:value="users.author"></td>
                <td><input type="text" v-model:value="users.category"></td>
                <td><input type="text" v-model:value="users.price"></td>
                <td>{{users.created}}</td>
                <td onclick="event.cancelBubble=true"><button @click="insert(users.id)">수정</button></td>
            </tr>
            
        </table>
    <modal title='그래프 표시'>
    
    
    </modal>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-style@0.5.0"></script>

    
    <script>
        Vue.component('modal', {
                data: function () {
                    return {
                        isModalActive: false

                    }
                },
                props: ['buttonText', 'title'],

                template: `
  <div class='my-modal'>
    <a class="button is-primary" @click='isModalActive=true'>{{ title }}</a>
    <div class="modal" :class="{ 'is-active': isModalActive }">
      <div class="modal-background">

</div>
      <div class="modal-content has-background-white">
      그래프 타입
    <select name="chartType" id="chartType" @change="updateChartType">
    <option value="line">Line</option>
    <option value="bar">Bar</option>
    <option value="log">log</option>

    </select>
    <div class="modal-card">
    <canvas id="canvas"></canvas>
      </div>
        <slot></slot>
        <button class="modal-random-button" @click="random">
              RANDOM
            </button>
      </div>
      <button class="modal-close" @click='isModalActive=false'></button>
      
    </div>  
  </div>
  `,
        mounted: () => {

       ctx = document.getElementById('canvas').getContext('2d');
      myChart = new Chart(ctx, {

                    type: 'line',
                    data: myData

                });
            },
    methods: {

    random: function () {

    console.log(myData.datasets[2].label)
    var lg = myData.datasets[2].label


    myChart.data.datasets.forEach(function (dataset, i) {
        let newData = Data.map(x => Math.floor(Math.random() * 50));
        let newmoreData = moreData.map(x => Math.floor(Math.random() * 40));


        if (dataset.label == "log data") {
            dataset.data = dataset.data.map(function () {
                return {
                    x: Math.round(Math.random() * 5) + 2,
                    y: Math.round(Math.random() * 5) + 3,

                };

            });
        }
        else {

            myData.datasets[i].data = myData.datasets[i].data.map(x => Math.floor(Math.random() * 50))

        }


    });


    window.myChart.update();

    },
    updateChartType: function () {

        var target = document.getElementById("chartType");

        var loge = target.options[target.selectedIndex].value


        if (loge != "log") {
            myChart.destroy();
            myChart = new Chart(ctx, {

                type: document.getElementById("chartType").value,
                data: myData,

            });
        } else {

            myChart.destroy();
            myChart = new Chart(ctx, {

                type: 'line',
                data: myData,
                options: {
                    scales: {
                        xAxes: [{

                            type: 'logarithmic'
                        }],
                        yAxes: [{

                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'y축',

                                fontSize: 20,



                            }



                        }]
                    }
                }




            });

        }


    }
}
})
        var randomScalingFactor = function () {
            return Math.ceil(Math.random() * 10.0) * Math.pow(10, Math.ceil(Math.random() * 5));
        };
        Chart.defaults.global.defaultFontFamily = "monospace";

        let Data = [1, 10, 5, 2, 20, 30, 45];
        let moreData = [20, 30, 15, 12, 21, 30, 40];
        let log = [
            { x: 1, y: 1 },
            { x: 2, y: 2 },
            { x: 3, y: 3 },
            { x: 4, y: 4 },
            { x: 5, y: 5 },
            { x: 6, y: 6 },
            { x: 7, y: 70 },

        ]

        var myChart;
        var ctx;
        var myData = {

            labels: ["a", "b", "c", "d", "e", "f", "g"],
            datasets: [
                {
                    label: "Data",
                    fill: false,
                    backgroundColor: 'rgb(190, 99, 255, 0.25)',
                    borderColor: 'rgb(190, 99, 255)',
                    data: Data,
                },
                {
                    label: "More data",
                    fill: false,
                    backgroundColor: 'rgba(255, 99, 132, 0.25)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: moreData,
                },
                {
                    label: "log data",
                    fill: false,
                    backgroundColor: 'rgba(0, 0 ,0, 0.25)',
                    borderColor: 'rgb(0, 0, 0)',
                    data: log,
                }]
        }
                
        var getValue = localStorage.getItem('token')
            console.log(getValue)

            if(!getValue){
                 window.location.href = 'http://localhost:10081/'
            }
     var router = new VueRouter({
        mode: 'history',
            routes: []
        })


        var vm = new Vue({
            router,
            el: '#app',
            data: {
                showModal: false,
                datas: [{}],
                token : getValue,
                message: 'Vue',
                ab : false,
                userIds: [],
                users: {
                    
                 title: '',
                 author: '',
                  category: '',
                  price: ''

                },

                id :""
            },
          mounted: function () {
             
                id = this.$route.query.id
            },
            
            methods: {

             
            insert: function (id) {

          axios.post('http://localhost:10081/api/books/update/' + id, {

                    title: this.datas[0].title,
                    author: this.datas[0].author,
                    category: this.datas[0].category,
                    price: this.datas[0].price
                })
                    .then(function (response) {
                        console.log(response.data);
                        alert('수정 성공');
                        window.location.href = 'http://localhost:10081/test.html'
                    })
                },

         dele: function (id) {
             axios.delete('http://localhost:10081/api/books/delete/' + id, {

             })
                 .then(function (response) {
                     alert(id +  '번 삭제 완료');
                    window.location.href = 'http://localhost:10081/test.html';

                })
            }

        }

        })

       axios.get('http://localhost:10081/api/books/' + id) //<-id값
            .then(function (response) {
             console.log(response.data)
             vm.datas = response.data
             console.log(vm.datas)

               })

                    

    </script>


</html>